body {
  font-family: 'Gmarket Sans', sans-serif;
  margin: 20px;
  background: #121212;
  color: #e0e0e0;
}
.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  box-sizing: border-box;
  padding: 0 10px;
}
.control-group {
  margin-bottom: 10px;
}
.controls, .share-buttons {
  width: 100%;
}
canvas {
  border: 1px solid #333;
  display: block;
  margin-top: 20px;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #1e1e1e;
}

input[type="file"],
input[type="text"],
input[type="color"],
select {
  background: #1e1e1e;
  color: #ccc;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 3px;
  width: calc(100% - 12px);
  box-sizing: border-box;
}

input[type="range"] {
  width: 100%;
}

button {
  background: #333;
  border: none;
  color: #eee;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 5px;
}
button:hover {
  background: #444;
}

.share-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.download-wrapper {
  display: flex;
  justify-content: flex-start;
}

.social-buttons {
  display: flex;
  gap: 10px;
}

.share-buttons button, .share-buttons a {
  text-decoration: none;
  background: #333;
  color: #eee;
  border-radius: 4px;
  padding: 8px 12px;
  display: inline-block;
}
.share-buttons a:hover {
  background: #444;
}

label, small, p, h1, h2, h3 {
  color: #e0e0e0;
}

/* 특정 라벨 텍스트 색 변경 */
label {
  color: #EEFF00;
}

h1 {
  font-weight: 500;
  color: #F5872E; /* 제목 색상 */
}

.thumbnail-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.thumbnail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}
.thumbnail-item img {
  max-width: 80px;
  border: 1px solid #444;
  background: #222;
}